div.footer div.navBar span {
	color: black;
	line-height: 80px;
}

div.footer div.navBar img.QRCode {
	height: 120px;
	width: 120px;
}

div.footer {
	margin-top: 30px;
	bottom: 0px;
	text-align: center;
	width: 100%;
	height: 140px;
	padding: 10px 100px;
}

div.footer div.navBar li.navBarItem {
	margin-right: 25px;
}

div.footer div.navBar li.navBarItem span {
	font-size: medium;
}