<link rel="stylesheet" href="/static/css/business/base/navigator.css"></link>

<div class="navBar" ng-controller="navigatorController">
	<div class="advertisement">
		<img class="logo" src="/static/images/logo/yqyl.jpg" />
		<div style="display: inline-block; height: 40px; margin-left: 100px;">
			<img style="position: absolute; padding: 5px; height: 40px; width: 40px;" src="/static/images/logo/search.png" /> <input
				class="searchBox" ng-model="name" placeholder="#label('INPUT_KEY_WORDS')" /><button class="searchButton" ng-click="search()">
				<span style="line-height: 40px;">#button("SEARCH")</span>
			</button>
			<button class="publishButton" ng-click="publish()">#button("PUBLISH_SERVICE")</button>
		</div>
		<img class="advertisement" src="/static/images/logo/advertisement.jpg" />
	</div>
	<div class="navBarItems">
		<ul>
			<li class="selectedNavBarItem">#if($currentPage=='SEARCH')
				<div>
					<span>#button("ONLINE_SERVICE")</span>
				</div>#end
			</li>
			<li class="navBarItem"><a href="/home"><div ng-mouseenter="showHomePage=true" ng-mouseleave="showHomePage=false">
						<span>#button("HOME")</span>
					</div></a></li>
			<li class="navBarItem"><a href="javascript:void(0)"><div>
						<span>#button("NEWS")</span>
					</div></a></li>
			<li class="navBarItem"><a href="javascript:void(0)"><div>
						<span>#button("COMMONWEAL_ACTIVITY")</span>
					</div></a></li>
			<li class="navBarItem"><a href="javascript:void(0)"><div>
						<span>#button("SENIOR_LIFE")</span>
					</div></a></li>
			<li class="navBarItem"><a href="javascript:void(0)"><div ng-mouseenter="showHomeEndowment=true"
						ng-mouseleave="showHomeEndowment=false">
						<span>#button("HOME_ENDOWMENT")</span>
					</div></a></li>
			<li class="navBarItem"><a href="javascript:void(0)"><div ng-mouseenter="showPensionIndustry=true"
						ng-mouseleave="showPensionIndustry=false">
						<span>#button("PENSION_INDUSTRY")</span>
					</div></a></li>
			<li class="navBarItem"><a href="/service"><div>
						<span>#button("ONLINE_SERVICE")</span>
					</div></a></li>
			<li class="navBarItem"><a href="javascript:void(0)"><div ng-mouseenter="showTalentTraining=true"
						ng-mouseleave="showTalentTraining=false">
						<span>#button("TALENT_TRAINING")</span>
					</div></a></li>
		</ul>
	</div>
	<ul class="popList homePagePopList ng-hide" ng-mouseenter="showHomePage=true" ng-mouseleave="showHomePage=false" ng-show="showHomePage">
		<li><a href="/servicer"><div>
					<span>#button("SERVICE_SUPPLIER_HOME")</span>
				</div></a></li>
		<li><a href="/admin"><div>
					<span>#button("ADMIN_HOME")</span>
				</div></a></li>
		<li><a href="/operator"><div>
					<span>#button("OPERATOR_HOME")</span>
				</div></a></li>
	</ul>

	<ul class="popList homeEndowmentPopList ng-hide" ng-mouseenter="showHomeEndowment=true" ng-mouseleave="showHomeEndowment=false"
		ng-show="showHomeEndowment">
		<li><a href="/service"><div>
					<span>#button("HOUSE_KEEPING")</span>
				</div></a></li>
		<li><a href="javascript:void(0)"><div>
					<span>#button("LIVING_CARE")</span>
				</div></a></li>
		<li><a href="javascript:void(0)"><div>
					<span>#button("REHABILITATION_NURSING")</span>
				</div></a></li>
		<li><a href="javascript:void(0)"><div>
					<span>#button("MEDICAL_CARE")</span>
				</div></a></li>
	</ul>
	<ul class="popList pensionIndustryPopList ng-hide" ng-mouseenter="showPensionIndustry=true" ng-mouseleave="showPensionIndustry=false"
		ng-show="showPensionIndustry">
		<li><a href="javascript:void(0)"><div>
					<span>#button("PENSION_REAL_ESTATE")</span>
				</div></a></li>
		<li><a href="javascript:void(0)"><div>
					<span>#button("NURSING_FACILITY")</span>
				</div></a></li>
		<li><a href="javascript:void(0)"><div>
					<span>#button("ENDOWMENT_INSURANCE")</span>
				</div></a></li>
		<li><a href="javascript:void(0)"><div>
					<span>#button("TOURISM_ENDOWMENT")</span>
				</div></a></li>
	</ul>
	<ul class="popList talentTrainingPopList ng-hide" ng-mouseenter="showTalentTraining=true" ng-mouseleave="showTalentTraining=false"
		ng-show="showTalentTraining">
		<li><a href="javascript:void(0)"><div>
					<span>#button("TRAINING_PLAN")</span>
				</div></a></li>
		<li><a href="javascript:void(0)"><div>
					<span>#button("TRAINING_SEARCH")</span>
				</div></a></li>
		<li><a href="javascript:void(0)"><div>
					<span>#button("ONLINE_TRAINING")</span>
				</div></a></li>
		<li><a href="javascript:void(0)"><div>
					<span>#button("TRAINING_PUBLISH")</span>
				</div></a></li>
		<li><a href="javascript:void(0)"><div>
					<span>#button("MY_TRAINING")</span>
				</div></a></li>
	</ul>
</div>

<script src="/static/js/business/base/navigator.js"></script>
