div.password {
	margin-left: 200px;
}

div.password div.block {
	width: 800px;
	border: 1px solid #cccccc;
}

div.password table {
	margin: auto;
}

div.password table td {
	padding-bottom: 15px;
}

div.password button {
	width: 150px;
	height: 30px;
	border-radius: 5px;
}