#parse("/velocity/admin/navigation.vm")

<link rel="stylesheet" href="/static/css/business/admin/manage/about.css"></link>

<div class="about">
	<div style="padding: 15px 15px 0 15px; height: 78px;" class="block headerBlock">
		<span style="color: #ff861a; font-size: 22px; margin-right: 60px; line-height: 50px;">#label("ABOUT_US")</span>
	</div>
	<div class="tab" style="border: 1px solid #ffedde; margin: 0 15px;"></div>

	<div class="block ng-hide" ng-show="content!=null" style="background: #f1f1f1; padding: 15px;">
		<div class="richtext" text-angular ng-model="content"></div>
		<div style="text-align: center; margin: 10px;">
			<button ng-click="apply()">#button("APPLY")</button>
		</div>
	</div>
</div>

<script src="/static/js/business/admin/manage/about.js"></script>