#parse("/velocity/admin/navigation.vm")

<link rel="stylesheet"
	href="/static/css/business/admin/manage/agreement.css"></link>

<div class="agreement">
	<div type="text/html" style="width: 600px;" ng-model="model"
		meta-umeditor meta-umeditor-config='config'
		meta-umeditor-placeholder="提示文案!这里是完整的示例" />
</div>

<script src="/static/js/business/admin/manage/agreement.js"></script>