#parse("/velocity/admin/navigation.vm")

<link rel="stylesheet" href="/static/css/business/admin/service/categoryEdit.css"></link>

<script type="text/javascript">
	layoutApp.value("categoryId",#if(${categoryId}) ${categoryId} #else 0 #end);
</script>

<div class="categoryEdit">
	<div style="padding: 15px 15px 0 15px; height: 78px;" class="block headerBlock">
		<span style="color: #ff861a; font-size: 22px; margin-right: 60px; line-height: 50px;">#label("SERVICE_CATEGORY")</span>
	</div>
	<div class="tab" style="border: 1px solid #ffedde; margin: 0 15px;"></div>

	<div class="block" style="background: #f1f1f1; padding: 15px;">
		<div class="details ng-hide" ng-show="parentCategory">
			<div class="tab" style="overflow: hidden; background: #ffedde; margin-bottom: 0;">
				<div class="tabTitle" style="color: #ff861a;">
					<span>#label("UPLOAD_PHOTO")</span>
				</div>
			</div>
			<div class="tab">
				<div style="text-align: left;">
					<img style="height: 100px; width: 100px; display: inline-block;" ng-src="{{imageUrl}}" /> <input
						style="width: 65px; margin-right: 0; display: inline-block; vertical-align: bottom;" type="file" custom-on-change="selectImage" />
				</div>
			</div>
		</div>

		<div class="details">
			<div class="tab" style="overflow: hidden; background: #ffedde; margin-bottom: 0;">
				<div class="tabTitle">
					<a style="float: right;" href="javascript:void(0)" ng-click="back()"><span>#button("BACK")</span></a> <a
						style="float: right; margin-right: 10px;" href="javascript:void(0)" ng-click="apply()"><span>#button("APPLY")</span></a>
				</div>
			</div>
			<div class="tab">
				<div ng-repeat="category in categories" class="tabContent" style="margin: 5px 0;">
					<div>
						<span class="name" ng-class="{'D': 'disabledCategory'}[category.status.code]" ng-show="!category.editing">{{category.name}}</span> <input
							class="ng-hide" ng-show="category.editing" ng-model="category.newValue" /><a href="javascript:void(0)" class="ng-hide"
							ng-click="ok(category)" ng-show="category.editing"><span>#button("OK")</span></a><a class="ng-hide" href="javascript:void(0)"
							ng-click="cancel(category)" ng-show="category.editing"><span>#button("CANCEL")</span></a><a href="javascript:void(0)"
							ng-click="edit(category)" ng-show="!category.editing"><span>#button("EDIT")</span></a><a class="ng-hide" href="javascript:void(0)"
							ng-click="active(category)" ng-show="!category.editing && category.status.code=='D'"><span>#button("ACTIVE")</span></a><a
							class="ng-hide" href="javascript:void(0)" ng-click="disable(category)" ng-show="!category.editing && category.status.code=='A'"><span>#button("DISABLE")</span></a><a
							class="ng-hide" href="javascript:void(0)" ng-click="remove(category)" ng-show="!category.editing && category.id==0"><span>#button("DELETE")</span></a>
					</div>
				</div>
				<div class="tabContent add" style="margin: 5px 0;">
					<div>
						<a href="javascript:void(0)" ng-click="add()"> <span>#button("ADD")</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/static/js/business/admin/service/categoryEdit.js"></script>