#parse("/velocity/admin/navigation.vm")

<link rel="stylesheet"
	href="/static/css/business/admin/service/supplier.css"></link>

<div class="supplier">
	<div style="padding: 15px 15px 0 15px; height: 78px;"
		class="block headerBlock">
		<span
			style="color: #ff861a; font-size: 22px; margin-right: 60px; line-height: 50px;">#label("SERVICER_SERVICE_SUPPLIER")</span>
	</div>
	<div class="tab" style="border: 1px solid #ffedde; margin: 0 15px;"></div>

	<div class="block" style="background: #f1f1f1; padding: 15px;">
		<div class="details">
			<div class="tab"
				style="overflow: hidden; background: #ffedde; margin-bottom: 0; height: 45px;">
				<div class="tabTitle"></div>
			</div>
			<div class="tab" style="margin-top: 0;">
				<div class="tabTitle" style="text-align: center;">
					<span>#label("SEARCH_TIME")</span><input type="text"
						placeholder="YYYY/MM/DD" ui-date="dateOptions"
						ng-model="filterData.fromServiceTime" style="width: 100px;" /> <span>#label("TO")</span>
					<input type="text" placeholder="YYYY/MM/DD" ui-date="dateOptions"
						ng-model="filterData.toServiceTime" style="width: 100px;" /> <span>#label("SERVICE_SUPPLIER_ID")</span><input
						ng-model="filterData.supplierName" />
					<button ng-click="searchOrders()">#button("SEARCH")</button>
				</div>
			</div>
			<div class="tab">
				<div class="tabContent">
					<table>
						<thead>
							<tr>
								<td align="center"><span>#label("INDEX")</span></td>
								<td align="center"><span>#label("SERVICE_SUPPLIER_NAME")</span></td>
								<td align="center"><span>订单个数</span></td>
								<td align="center"><span>好评个数</span></td>
								<td align="center"><span>中评个数</span></td>
								<td align="center"><span>差评个数</span></td>
								<td align="center"><span>退单个数</span></td>
								<td align="center"><span>投诉个数</span></td>
							</tr>
						</thead>
						<tbody class="ng-hide" ng-show="suppliers">
							<tr ng-repeat="supplier in suppliers">
								<td align="center"><span>{{$index + 1}}</span></td>
								<td align="center"><span>{{supplier.user.username}}</span></td>
								<td align="center"><span>{{supplier.orderCount}}</span></td>
								<td align="center"><span>{{supplier.appraiseLevel1Count}}</span></td>
								<td align="center"><span>{{supplier.appraiseLevel2Count}}</span></td>
								<td align="center"><span>{{supplier.appraiseLevel3Count}}</span></td>
								<td align="center"><span>{{supplier.cancelCount}}</span></td>
								<td align="center"><span>0</span></td>
							</tr>
						</tbody>
					</table>
					<div class="paging" style="text-align: center;">
						<pagination total-items="pagingData.itemCount"
							ng-model="pagingData.pageIndex" max-size="10"
							items-per-page="pagingData.pageSize" class="pagination-sm"
							boundary-links="true" ng-change="searchOrders()"
							first-text='#label("FIRST_PAGE")' last-text='#label("LAST_PAGE")'
							previous-text='#label("PREVIOUS_PAGE")'
							next-text='#label("NEXT_PAGE")'></pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/static/js/business/admin/service/supplier.js"></script>