#parse("/velocity/servicer/navigation.vm")

<link rel="stylesheet" href="/static/css/business/servicer/service.css"></link>

<div class="service">
	<div style="padding: 15px 15px 0 15px; height: 78px;"
		class="block headerBlock">
		<span
			style="color: #097ffa; font-size: 22px; margin-right: 60px; line-height: 50px;">#label("SERVICE_MANAGEMENT")</span>
	</div>
	<div class="tab" style="border: 1px solid #a1d0fe; margin: 0 15px;"></div>

	<div class="block" style="background: #f1f1f1; padding: 15px;">
		<div class="details">
			<div class="tab"
				style="overflow: hidden; background: #c7defd; margin-bottom: 0;">
				<div class="tabTitle">
					<a style="float: right;" href="javascript:void(0)"
						ng-click="newService()"><span>#button("NEW_SERVICE")</span></a>
				</div>
			</div>
			<div class="tab" style="margin-top: 0;">
				<div class="tabTitle" style="text-align: center;">
					<span>#label("SERVICE_INFO_NAME")</span> <input
						style="width: 200px; margin-right: 20px;"
						ng-model="filterData.name" />
					<button ng-click="searchServices()">#button("SEARCH")</button>
				</div>
			</div>
			<div class="tab">
				<div class="tabContent">
					<table>
						<thead>
							<tr>
								<td align="center"><span>#label("PHOTO")</span></td>
								<td align="center"><span>#label("SERVICE_NAME")</span></td>
								<td align="center"><span>#label("PRICE")</span></td>
								<td align="center"><span>#label("ORDER_TIMES_IN_A_MONTH")</span></td>
								<td align="center"><span>#label("APPRAISE_RATE")</span></td>
								<td align="center"><span>#label("EDIT")</span></td>
							</tr>
						</thead>
						<tbody>
							<tr class="ng-hide" ng-show="services"
								ng-repeat="service in services">
								<td class="image" align="center"><img
									alt="{{service.name}}"
									ng-src="/ajax/content/image/{{service.image}}"></span></td>
								<td align="center"><span>{{service.name}}</span></td>
								<td align="center"><span>{{service.price}}</span></td>
								<td align="center"><span>{{service.monthlyProposalOrderCount}}</span></td>
								<td align="center"><span>{{service.monthlyRate}}</span></td>
								<td align="center"><button
									ng-click="$parent.editService(service)">#button("EDIT")</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>

<script src="/static/js/business/servicer/service.js"></script>