#parse("/velocity/servicer/navigation.vm")

<link rel="stylesheet" href="/static/css/business/servicer/serviceEdit.css"></link>

<script type="text/javascript">
	layoutApp.value("serviceInfoId", ${serviceInfoId});
</script>

<div class="serviceEdit">
	<div style="padding: 15px 15px 0 15px; height: 78px;" class="block headerBlock ng-hide" ng-show="serviceInfo">
		<span style="color: #097ffa; font-size: 22px; margin-right: 60px; line-height: 50px;">#label("SERVICER_SERVICE")</span> <a
			href="javascript:void(0)" ng-click="back()"><span>#button("CANCEL")</span></a> <a href="javascript:void(0)" ng-click="apply()"><span>#button("SAVE")</span></a>
	</div>
	<div class="tab ng-hide" ng-show="serviceInfo" style="border: 1px solid #a1d0fe; margin: 0 15px;"></div>

	<div class="block" style="background: #f1f1f1; padding: 15px;">
		<div class="details ng-hide" ng-show="serviceInfo">
			<div class="tab">
				<div class="tabTitle">
					<img src="/static/images/icon/blue_block.png" /> <span>#label("SERVICE_GENERAL_INFO")</span>
				</div>
				<div class="tabContent">
					<div class="inlineItem">
						<span>#label("SERVICE_NAME")</span><input ng-model="serviceInfo.name" />
					</div>
					<div class="inlineItem">
						<span>#label("SERVICE_PARENT_CATEGORY")</span><select ng-change="populateSubCategory()"
							ng-model="serviceInfo.serviceCategory.parent.id" ng-options="category.id as category.name for category in categories"></select>
					</div>
					<div class="inlineItem">
						<span>#label("SERVICE_CATEGORY")</span><select ng-model="serviceInfo.serviceCategory.id"
							ng-options="subCategory.id as subCategory.name for subCategory in subCategories">
						</select>
					</div>
					<div class="inlineItem">
						<span>#label("SERVICE_PAYMENT_METHOD")</span><select ng-model="serviceInfo.paymentMethod.code"
							ng-options="paymentMethod.code as paymentMethod.message for paymentMethod in paymentMethods">
						</select>
					</div>
					<div class="inlineItem">
						<span>#label("SERVICE_PRICE")</span><input style="width: 75px; margin-right: 0px;" ng-model="serviceInfo.price" /> <span
							style="margin-right: 0; display: inline;"> / </span> <select style="width: 70px; height: 26px;"
							ng-model="serviceInfo.paymentType.code" ng-options="paymentType.code as paymentType.message for paymentType in paymentTypes">
						</select>
					</div>
					<div class="inlineItem">
						<span>#label("SHOW_OR_NOT")</span><input style="height: 15px; width: 20px;" type="checkbox" ng-model="serviceInfo.active" />
					</div>
					<div class="inlineItem" style="display: block;">
						<span>#label("SERVICE_DESCRIPTION")</span>
						<textarea ng-model="serviceInfo.description"></textarea>
					</div>
				</div>
			</div>

			<div class="tab ng-hide" ng-show="serviceInfo.images">
				<div class="tabTitle">
					<img src="/static/images/icon/blue_block.png" /> <span>#label("UPLOAD_PHOTO")</span>
				</div>
				<div class="tabContent">
					<div ng-repeat="image in serviceInfo.images">
						<a ng-href="/ajax/content/image/{{image}}" target="_blank"><img ng-src="/ajax/content/image/{{image}}" /></a> <a
							style="margin: 0 20px;" href="javascript:void(0)" ng-click="deletePhoto($index)"><span style="display: inline;">#button("DELETE")</span></a>
						<input style="width: 15px; height: 15px; margin-right: 5px;" type="radio" name="mainImage" ng-model="$parent.serviceInfo.image"
							ng-value="image" /> <span>#label("MAIN_IMAGE")</span>
					</div>
					<div class="ng-hide" ng-show="serviceInfo.images.length<6">
						<input type="file" style="display: inline-block;" custom-on-change="selectImage" />
						<button ng-click="uploadPhoto()">#button("UPLOAD_PHOTO")</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/static/js/business/servicer/serviceEdit.js"></script>