#parse("/velocity/servicer/navigation.vm")

<link rel="stylesheet" href="/static/css/business/servicer/staff.css"></link>

<div class="staff">
	<div style="padding: 15px 15px 0 15px; height: 78px;" class="block headerBlock">
		<span style="color: #097ffa; font-size: 22px; margin-right: 60px; line-height: 50px;">#label("SERVICE_SUPPLIER_STAFF_MANAGEMENT")-#button("GENERAL_INFO")</span>
	</div>
	<div class="tab" style="border: 1px solid #a1d0fe; margin: 0 15px;"></div>

	<div class="block" style="background: #f1f1f1; padding: 15px;">
		<div class="details">
			<div class="tab" style="overflow: hidden; background: #c7defd; margin-bottom: 0;">
				<div class="tabTitle">
					<a style="float: right;" href="javascript:void(0)" ng-click="newStaff()"><span>#button("NEW_STAFF")</span></a>
				</div>
			</div>
			<div class="tab" style="margin-top: 0;">
				<div class="tabTitle" style="text-align: center;">
					<span>#label("STAFF_CODE")</span> <input ng-model="filterData.code" style="width: 200px; margin-right: 20px;" /> <span>#label("STAFF_NAME")</span>
					<input ng-model="filterData.name" style="width: 200px; margin-right: 20px;" />
					<button ng-click="searchStaffs()">#button("SEARCH")</button>
				</div>
			</div>
			<div class="tab">
				<div class="tabContent">
					<table>
						<thead>
							<tr>
								<td align="center"><span>#label("STAFF_CODE")</span></td>
								<td align="center"><span>#label("PHOTO")</span></td>
								<td align="center"><span>#label("NAME")</span></td>
								<td align="center"><span>#label("PHONE_NO")</span></td>
								<td align="center"><span>#label("SERVICE_STAFF_RATE")</span></td>
								<td align="center"><span>#label("AGE")</span></td>
								<td align="center"><span>#label("CREDENTIAL_NO")</span></td>
								<td align="center"><span>#label("SERVICE_CATEGORY")</span></td>
								<td align="center"><span>#label("OPERATION")</span></td>
							</tr>
						</thead>
						<tbody>
							<tr class="ng-hide" ng-show="staffs" ng-repeat="staff in staffs">
								<td align="center"><span>{{staff.code}}</span></td>
								<td align="center"><img ng-src="/ajax/content/image/{{staff.photo}}" /></td>
								<td align="center"><span>{{staff.name}}</span></td>
								<td align="center"><span>{{staff.phoneNo}}</span></td>
								<td align="center"><span>{{staff.comment}}</span></td>
								<td align="center"><span>{{staff.age}}</span></td>
								<td align="center"><span>{{staff.identityCard}}</span></td>
								<td align="center"><span ng-repeat="category in staff.serviceCategories">{{category.name}}<br /></span></td>
								<td align="center">
									<button ng-click="edit(staff)" style="font-size: small; width: 50px; height: 30px; min-width: 50px;">#button("VIEW")</button>
									<button ng-show="staff.status.code == 'A'" ng-click="$parent.away(staff)"
										style="font-size: small; width: 50px; height: 30px; min-width: 50px;">#button("AWAY_FROM_WORK")</button>
									<button ng-show="staff.status.code == 'F'" ng-click="$parent.back(staff)"
										style="font-size: small; width: 50px; height: 30px; min-width: 50px;">#button("BACK_TO_WORK")</button>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="paging" style="text-align: center;">
						<pagination total-items="pagingData.itemCount" ng-model="pagingData.pageIndex" max-size="10" items-per-page="pagingData.pageSize"
							class="pagination-sm" boundary-links="true" ng-change="searchStaffs()" first-text='#label("FIRST_PAGE")'
							last-text='#label("LAST_PAGE")' previous-text='#label("PREVIOUS_PAGE")' next-text='#label("NEXT_PAGE")'></pagination>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<script src="/static/js/business/servicer/staff.js"></script>