div.order {
	padding: 1px 0 0 250px;
}

div.order div.block {
	border: 1px solid #cccccc;
}

div.order div.headerBlock a {
	float: right;
	margin-right: 10px;
	line-height: 50px;
}

div.order div.headerBlock {
	border-bottom: none;
}

div.order div.title {
	font-weight: bold;
	font-size: large;
}

div.order div.details div.tab {
	padding: 10px 20px 10px 20px;
	background: white;
	margin-bottom: 20px;
}

div.order div.details div.tab div.tabTitle {
	padding: 5px 10px;
}

div.order div.details div.tab div.tabTitle img {
	width: 14px;
	height: 14px;
}

div.order div.details div.tab div.tabContent {
	padding-left: 5px;
}

div.order div.details div.tab div.tabContent div.inlineItem {
	margin-top: 8px;
	display: inline-block;
}

div.order div.details div.tab div.tabContent input, div.order div.details div.tab div.tabContent select
	{
	width: 160px;
	height: 26px;
	margin-right: 50px;
}

div.order div.details div.tab div.tabContent img {
	max-width: 50px;
	min-width: 50px;
	max-height: 50px;
	min-height: 50px;
}

div.order div.details div.tab div.tabContent table {
	width: 100%;
}

div.order div.details div.tab div.tabContent table thead td {
	background: #c7defd;
}

div.order div.details div.tab div.tabContent table td {
	border: 1px solid #7f7f7f;
	padding: 10px 0;
}

div.order div.details div.tab div.tabContent table td span {
	font-size: 14px;
}

div.order table tbody tr.edit td {
	border: none;
	background-color: #f5f5f5;
}

div.order table td button {
	font-size: small;
	min-width: 50px;
	min-height: 25px;
	height: 25px;
}

div.order table td.image {
	padding: 5px;
}

div.order table td img {
	width: 100px;
	height: 100px;
}

span.uploadControl {
	overflow: hidden;
	display: inline-block;
}

span.uploadControl input {
	position: absolute;
	z-index: 100;
	opacity: 0;
	width: 30px;
	height: 18px;
}