div.staffEdit {
	padding: 10px 0px 0px 280px;
}

div.staffEdit div.left {
	float: left;
	width: 300px;
	text-align: center;
}

div.staffEdit div.right {
	display: inline-block;
	width: 400px;
}

div.image {
	width: 250px;
	heigth: 250px;
	float: left;
	background-color: rgba(215, 215, 215, 1);
	margin: 0px 20px 0px 20px;
}

div.image img {
	background-color: white;
	margin: 20px;
	width: 210px;
	height: 210px;
	max-height: 210px;
	max-width: 210px;
}

div.staffEdit div.right span {
	display: inline-block;
	margin-top: 10px;
	width: 80px;
}

div.staffEdit div.right button {
	margin-top: 20px;
}

div.staffEdit div.right select {
	min-width: 150px;
}

div.staffEdit div.categoryTree {
	margin-top: 5px;
	min-width: 200px;
	display: inline-block;
	border: solid 1px rgba(215, 215, 215, 1);
	padding: 5px;
}

div.staffEdit div.categoryTree ol.root {
	padding-left: 0px;
}

div.staffEdit div.categoryTree ol li {
	list-style: none;
}