#parse("/velocity/user/navigation.vm")

<link rel="stylesheet" href="/static/css/business/user/password.css"></link>

<div class="password">
	<div style="padding: 15px;" class="block">
		<span style="color: #fd6a15; font-size: 22px; margin-right: 60px;">#label("USER_PASSWORD_CHANGE")</span>
	</div>
	<div class="ng-hide block" ng-show="finished"
		style="text-align: center; padding: 30px 0;">
		<div style="margin-bottom: 20px;">
			<span>#info("YOUR_PASSWORD_HAS_BEEN_CHANGED")</span>
		</div>
		<div>
			<a href="/user"><span>#info("BACK_TO_USER_CENTER")</span></a>
		</div>

	</div>
	<div style="padding: 35px; text-align: center;" class="block"
		ng-hide="finished">
		<table>
			<tr>
				<td width="100px">#label("OLD_PASSWORD")</td>
				<td><div>
						<input ng-model="oldPassword" type="password" />
					</div>
					<div class="error ng-hide" ng-show="message">
						<span>{{message}}</span>
					</div></td>
			</tr>
			<tr>
				<td>#label("NEW_PASSWORD")</td>
				<td><div>
						<input ng-model="newPassword" type="password" />
					</div>
					<div class="error ng-hide">
						<span>#info("PASSWORD_CANNOT_BE_EMPTY")</span>
					</div></td>
			</tr>
			<tr>
				<td>#label("REPEAT_PASSWORD")</td>
				<td><div>
						<input ng-model="newPasswordAgain" type="password" />
					</div>
					<div class="error ng-hide"
						ng-show="newPassword!=''&&newPasswordAgain!=''&&newPassword!=newPasswordAgain">
						<span>#info("PASSWORD_MUST_BE_SAME")</span>
					</div></td>
			</tr>
		</table>
		<button ng-click="apply()">#button("APPLY")</button>
	</div>
</div>



<script src="/static/js/business/user/password.js"></script>