#parse("/velocity/user/navigation.vm")

<link rel="stylesheet" href="/static/css/business/user/password.css"></link>

<div class="password">
	<div style="padding: 15px;" class="block">
		<span style="color: #fd6a15; font-size: 22px; margin-right: 60px;">#label("USER_PASSWORD_CHANGE")</span>
	</div>
	<div style="padding: 35px; text-align: center;" class="block">
		<table>
			<tr>
				<td width="100px">#label("OLD_PASSWORD")</td>
				<td><input ng-model="oldPassword" type="password" /></td>
			</tr>
			<tr>
				<td>#label("NEW_PASSWORD")</td>
				<td><input ng-model="newPassword" type="password" /></td>
			</tr>
			<tr>
				<td>#label("REPEAT_PASSWORD")</td>
				<td><input ng-model="newPasswordAgain" type="password" /></td>
			</tr>
		</table>
		<button ng-click="apply()">#button("APPLY")</button>
	</div>
</div>

<script src="/static/js/business/user/password.js"></script>