<link rel="stylesheet" href="/static/css/business/service/info.css"></link>

<script type="text/javascript">
	layoutApp.value("serviceSupplierClientId", ${serviceSupplierClientId});
</script>
<div class="info">
	<div>
		<div class="image">
			<img alt="#label('NOT_UPLOADED')"
				ng-src="/ajax/content/image/{{imageBar.selectedImage}}" />
			<div class="imageBar ng-hide" ng-show="serviceSupplierClient.images">
				<div style="display: inline-block; width: 20px;">
					<a href="javascript:void(0)" ng-click="imageBar.previous()"><span>&lt;</span></a>
				</div>
				<div style="display: inline-block; width: 200px;">
					<a class="ng-hide smallImage"
						ng-show="($index>=$parent.imageBar.pageIndex*4)&&($index<($parent.imageBar.pageIndex+1)*4)"
						ng-repeat="image in serviceSupplierClient.images"
						href="javascript:void(0)" ng-click="imageBar.selectedImage=image"><img
						alt="{{$index}}" ng-src="/ajax/content/image/{{image}}" /></a>
				</div>
				<div style="display: inline-block; width: 20px; text-align: right;">
					<a href="javascript:void(0)" ng-click="imageBar.next()"><span>&gt;</span></a>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="title ng-hide" ng-show="serviceSupplierClient">{{serviceSupplierClient.name}}</div>
			<div class="cardItem">
				<span class="key">#label("SALES_PRICE") : </span> <span
					ng-show="selectedService" class="value ng-hide">{{selectedService.price|currency:'￥'}}</span>
				<span class="ng-hide" ng-show="selectedService.paymentType">
					/ {{selectedService.paymentType.message}}</span>
			</div>
			<div class="cardItem">
				<span class="key">#label("SERVICE_CATEGORY") : </span> <select
					ng-model="selectedService"
					ng-options="service.name for service in services"></select>
			</div>
			<div class="cardItem  appraise">
				<span class="key">#label("APPRAISE") : </span>
				#readonlyRateBar("selectedService.stastic.appraiseAvg+0.5")
			</div>

			<div class="cardItem">
				#if(${authentication.token.authenticated})
				<button ng-click="apply()">#button("ORDER_NOW")</button> #else
				<div>
					<span>#info("LOGIN_BEFORE_ORDERING")</span>
				</div>
				<button ng-click="login()">#button("LOGIN")</button> #end
			</div>
		</div>
	</div>
	<div class="detail">
		<div class="tab">
			<ul>
				<li ng-class="{selected:status=='desc'}"><a
					href="javascript:void(0)" ng-click="status='desc'"><div>
							<span>#label("COMPANY_DESCRIPTION")</span>
						</div></a></li>
				<li ng-class="{selected:status=='cate'}"><a
					href="javascript:void(0)" ng-click="status='cate'"><div>
							<span>#label("COMPANY_SERVICE_CATEGORY")</span>
						</div></a></li>
				<li ng-class="{selected:status=='appr'}"><a
					href="javascript:void(0)" ng-click="status='appr'"><div>
							<span>#label("COMPANY_APPRAISE")</span><span
								ng-show="totalAppraiseCount" class="ng-hide">({{totalAppraiseCount}})</span>
						</div></a></li>
			</ul>
		</div>
		<div class="tabPage">
			<div ng-show="status=='desc'">
				<div class="text">
					<span ng-bind-html="serviceSupplierClient.description"></span>
				</div>
			</div>
			<div class='ng-hide' ng-show="status=='cate'">
				<table>
					<thead>
						<tr>
							<td align="center">#label("SERVICE_CATEGORY")</td>
							<td align="center">#label("SERVICE_PRICE")</td>
							<td align="center">#label("SERVICE_DESCRIPTION")</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="serviceInfo in services">
							<td align="center">{{serviceInfo.name}}</td>
							<td align="center"><span>{{serviceInfo.price|currency:'￥'}}</span>
								<span class="ng-hide" ng-show="serviceInfo.paymentType">
									/ {{serviceInfo.paymentType.message}}</span></td>
							<td align="center">{{serviceInfo.description}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class='ng-hide' ng-show="status=='appr'">
				<div
					style="height: 90px; border-bottom: 1px solid #cccccc; padding-left: 30px;">
					<div style="display: inline-block; text-align: center;">
						<div style="color: #fd6a15;">{{totalAppraiseLevel1Count/totalAppraiseCount*100|number:2}}%</div>
						<div
							style="background: #fd6a15; color: white; padding: 3px 10px; border-radius: 6px;">#label("GOOD_APPRAISE_RATE")</div>
					</div>
					<div style="display: inline-block; padding-left: 70px;">
						<input type="radio" name="appraiseLevel" ng-model="filteredLevel"
							value="0" ng-click="searchAppraises(-1)" /> <span
							style="margin-right: 20px; vertical-align: top;">#label("ALL")</span>
						<input type="radio" name="appraiseLevel"
							ng-click="searchAppraises(1)" /> <span
							style="margin-right: 20px; vertical-align: top;">#label("GOOD_APPRAISE")
							({{totalAppraiseLevel1Count}})</span> <input type="radio"
							name="appraiseLevel" ng-click="searchAppraises(2)" /> <span
							style="margin-right: 20px; vertical-align: top;">#label("MIDDLE_APPRAISE")
							({{totalAppraiseLevel2Count}})</span> <input type="radio"
							name="appraiseLevel" ng-click="searchAppraises(3)" /> <span
							style="margin-right: 20px; vertical-align: top;">#label("BAD_APPRAISE")
							({{totalAppraiseLevel3Count}})</span>
					</div>
				</div>
				<div
					style="border-bottom: 1px solid #cccccc; padding: 20px 0 20px 80px;"
					ng-repeat="appraise in appraises">
					<div style="display: inline-block; vertical-align: top;">
						<div>
							<img style="width: 50px; height: 50px;" />
						</div>
						<div style="margin-top: 10px;">
							<span>{{appraise.serviceOrder.user.username}}</span>
						</div>
					</div>
					<div
						style="display: inline-block; vertical-align: top; margin-left: 20px;">
						<div>
							<span>{{appraise.serviceOrder.serviceDate|date:'yyyy-MM-dd'}}</span>
						</div>
						<div style="margin-top: 5px;">
							#readonlyRateBar("{{appraise.totalRate/4}}")</div>
						<div style="margin-top: 5px;">
							<span>{{appraise.comment}}</span>
						</div>
						<div style="margin-top: 5px;" ng-show="appraise.reply">
							<img style="width: 20px; height: 20px;" /> <span>{{serviceSupplierClient.name}}
								: {{appraise.reply}}</span>
						</div>
					</div>
				</div>
				<div class="paging">
					<uib-pagination total-items="pagingData.itemCount"
						ng-model="pagingData.pageIndex" max-size="10"
						items-per-page="pagingData.pageSize" class="pagination-sm"
						boundary-links="true" ng-change="searchAppraises(0)"
						first-text='#label("FIRST_PAGE")' last-text='#label("LAST_PAGE")'
						previous-text='#label("PREVIOUS_PAGE")'
						next-text='#label("NEXT_PAGE")'></uib-pagination>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/static/js/business/service/info.js"></script>