<link rel="stylesheet" href="/static/css/business/service/proposal.css"></link>

<script type="text/javascript">
	layoutApp.value("serviceSupplierClientId", #if(${serviceSupplierClientId})${serviceSupplierClientId} #else 0 #end);
</script>
<div class="proposal">
	<div class="title">
		<span>#label("YOUR_POSITION") : </span> <a href="/service/search"><span>#button("ONLINE_SERVICE")</span></a> <span>></span> <a
			href="javascript:void(0)"><span>#label("ORDER_PROPOSAL_PAGE")</span></a>
	</div>
	<div class="block">
		<div style="background: #f0f0f0; padding: 10px 0;">
			<span style="font-size: 18px;">#info("INPUT_ORDER_CAREFULLY")</span>
		</div>
		<div class="blockItem">
			<span>#label("SERVICE_CATEGORIES")</span> <select ng-model="selectedServiceInfo"
				ng-options="serviceInfo.name for serviceInfo in services">
			</select>
		</div>
		<div class="blockItem">
			<span>#label("SERVICE_RECEIVER")</span> <select ng-model="selectedServiceInfo.order.defaultMember"
				ng-options="member as member.name for member in members"></select>
		</div>
		<div class="blockItem">
			<span>#label("SERVICE_ADDRESS")</span> <input class="newInfo" placeholder="{{selectedServiceInfo.order.defaultMember.address}}"
				ng-model="selectedServiceInfo.order.customAddress">
		</div>
		<div class="blockItem">
			<span>#label("PHONE_NO")</span> <input class="newInfo" ng-model="selectedServiceInfo.order.customPhoneNo"
				placeholder="{{selectedServiceInfo.order.defaultMember.cellphoneNo}}" />
		</div>
		<div class="blockItem">
			<span>#label("SERVICE_TIME")</span> <input style="width: 200px;" type="text" placeholder="YYYY/MM/DD" ui-date="dateOptions"
				ng-model="selectedServiceInfo.order.serviceDate" /> <select style="width: 80px;" ng-model="selectedServiceInfo.order.serviceHour"
				ng-options="hour as hour for hour in hours"></select> <span style="display: inline;">#label("OCLOCK")</span>
		</div>
	</div>
	<div class="block">
		<div class="blockItem">
			<span>#label("EXPECTED_PRICE")</span> <span>{{selectedServiceInfo.price|currency:'￥'}}/{{selectedServiceInfo.paymentType.message}}</span>
		</div>
		<div class="blockItem">
			<span>#label("PAYMENT_METHOD")</span> <span>{{selectedServiceInfo.paymentMethod.message}}</span>
		</div>
	</div>
	<div class="block">
		<div class="blockItem">
			<button ng-click="apply()">#button("APPLY")</button>
			<button ng-click="cancel()">#button("CANCEL")</button>
		</div>
	</div>
</div>

<script src="/static/js/business/service/proposal.js"></script>