<link rel="stylesheet" href="/static/css/business/service/search.css"></link>

<div class="search">
	<div class="title">
		<span>#label("YOUR_POSITION") : </span> <a href="/service/search"><span>#button("ONLINE_SERVICE")</span></a>
		<span class="ng-hide" ng-show="parentCategory" ng-if="parentCategory">></span>
		<a class="ng-hide" ng-show="parentCategory"
			ng-href="/service/search#?parentCategory={{parentCategory.id}}"><span
			ng-if="parentCategory">{{parentCategory.name}}</span></a> <span
			class="ng-hide" ng-show="category" ng-if="category">></span> <a
			class="ng-hide" ng-show="category"
			ng-href="/service/search#?category={{category.id}}"> <span
			ng-if="category">{{category.name}}</span>
		</a>
	</div>
	<div class="filter">
		<div class="categoryItem ng-hide" ng-show="categories"
			ng-repeat="category in categories">
			<ul>
				<li class="category"><div>
						<a ng-hide="category.expanding" ng-click="category.expanding=true"
							href="javascript:void(0)"><img
							src="/static/images/icon/expand.png" /></a><a
							ng-show="category.expanding" ng-click="category.expanding=false"
							href="javascript:void(0)"><img
							src="/static/images/icon/collapse.png" /></a><a
							ng-href="/service/search#?parentCategory={{category.id}}"><span>{{category.name}}</span>
						</a>
					</div></li>
				<li ng-show="category.expanding" class="subCategory"><div
						ng-repeat="subCategory in category.serviceSubCategories"
						ng-if="subCategory.status.code=='A'">
						<a ng-href="/service/search#?category={{subCategory.id}}"><span>{{subCategory.name}}</span></a>
					</div></li>
			</ul>
		</div>
	</div>
	<div class="services">
		<div class="bar">
			<table>
				<tr>
					<td align="center" class="barItem"><div>
							<a href="javascript:void(0)" ng-click="modifySorting('default')"><span>#label("DEFAULT")</span></a>
						</div></td>
					<td align="center" class="barItem"><div>
							<a href="javascript:void(0)" ng-click="modifySorting('sales')"><span>#label("SALES_VOLUME")</span></a>
							<img class="ng-hide"
								ng-show="sorting.name=='sales' && sorting.asc"
								src="/static/images/icon/arrow_up.png" /><img class="ng-hide"
								ng-show="sorting.name=='sales' && !sorting.asc"
								src="/static/images/icon/arrow_down.png" />
						</div></td>
					<td align="center" class="barItem"><div>
							<a href="javascript:void(0)" ng-click="modifySorting('price')"><span>#label("PRICE")</span></a>
							<img class="ng-hide"
								ng-show="sorting.name=='price' && sorting.asc"
								src="/static/images/icon/arrow_up.png" /><img class="ng-hide"
								ng-show="sorting.name=='price' && !sorting.asc"
								src="/static/images/icon/arrow_down.png" />
						</div></td>
					<td align="center" class="barItem"><div>
							<a href="javascript:void(0)" ng-click="modifySorting('appraise')"><span>#label("SERVICE_ORDER_APPRAISE")</span></a>
							<img class="ng-hide"
								ng-show="sorting.name=='appraise' && sorting.asc"
								src="/static/images/icon/arrow_up.png" /><img class="ng-hide"
								ng-show="sorting.name=='appraise' && !sorting.asc"
								src="/static/images/icon/arrow_down.png" />
						</div></td>
					<td align="center" class="barItem"><div>
							<a href="javascript:void(0)"
								ng-click="modifySorting('timestamp')"><span>#label("PUBLISH_TIMESTAMP")</span></a>
							<img class="ng-hide"
								ng-show="sorting.name=='timestamp' && sorting.asc"
								src="/static/images/icon/arrow_up.png" /> <img class="ng-hide"
								ng-show="sorting.name=='timestamp' && !sorting.asc"
								src="/static/images/icon/arrow_down.png" />
						</div></td>
					<td align="center" class="info"><div class="ng-hide"
							ng-show="pagingData">
							<span>#info("SERVICE_FOUND_1")</span> <span>{{pagingData.itemCount}}</span>
							<span>#info("SERVICE_FOUND_2")</span>
						</div></td>
					<td align="center" class="barItem ng-hide" ng-show="pagingData"><div>
							<a href="javascript:void(0)" ng-click="previousPage()"><span>
									&lt; </span></a> <span>{{pagingData.pageIndex}}/{{(pagingData.itemCount-1)/(pagingData.pageSize)
								+ 1 | number : 0}}</span> <a href="javascript:void(0)"
								ng-click="nextPage()"><span> &gt; </span></a>
						</div></td>
				</tr>
				<tr>
					<td align="center" valign="middle" class="barItem" colspan="2"><div
							style="width: 220px">
							<select style="border: none; height: 30px;"
								ng-model="selectedProvince"
								ng-options="province.message for province in provinces">
								<option value="">请选择省份</option>
							</select>
						</div></td>
					<td align="center" valign="middle" class="barItem" colspan="2"><div
							style="width: 220px">
							<select style="border: none; height: 30px;"
								ng-model="selectedCity"
								ng-options="city.message for city in selectedProvince.cities">
								<option value="">请选择城市</option>
							</select>
						</div></td>
					<td align="center" class="barItem"><div>
							<a href="javascript:void(0)" ng-click="searchServices(true)">搜索</a>
						</div></td>
				</tr>
			</table>
		</div>
		<div class="result ng-hide" ng-show="results">
			<div class="service" ng-repeat="service in results">
				<div class="image">
					<div>
						<img alt="#label('NOT_UPLOADED')"
							ng-src="/ajax/content/image/{{service.image}}" />
					</div>
					<div class="orderNow">
						<a ng-href="/service/info/{{service.serviceSupplierClient.id}}"><span>#button("ORDER_NOW")</span></a>
					</div>
				</div>

				<div class="description">
					<div class="line name">
						<span>{{service.name}}</span>
					</div>
					<div class="line">
						<span class="key">#label("SERVICE_CATEGORIES") : </span> <span
							class="value">{{service.serviceCategory.name}}</span>
					</div>
					<div class="line">
						<span class="key">#label("EXPECTED_PRICE") : </span> <span
							class="price">{{service.price|currency:"￥"}} /
							{{service.paymentType.message}}</span>
					</div>
					<div class="line appraise">
						<span class="key">#label("APPRAISE") : </span> <img
							class="ng-hide" ng-show="service.stastic.appraiseAvg+0.5>=1"
							src="/static/images/icon/rate_filled.png"><img
							class="ng-hide" ng-hide="service.stastic.appraiseAvg+0.5>=1"
							src="/static/images/icon/rate_empty.png"> <img
							class="ng-hide" ng-show="service.stastic.appraiseAvg+0.5>=2"
							src="/static/images/icon/rate_filled.png"><img
							class="ng-hide" ng-hide="service.stastic.appraiseAvg+0.5>=2"
							src="/static/images/icon/rate_empty.png"> <img
							class="ng-hide" ng-show="service.stastic.appraiseAvg+0.5>=3"
							src="/static/images/icon/rate_filled.png"><img
							class="ng-hide" ng-hide="service.stastic.appraiseAvg+0.5>=3"
							src="/static/images/icon/rate_empty.png"> <img
							class="ng-hide" ng-show="service.stastic.appraiseAvg+0.5>=4"
							src="/static/images/icon/rate_filled.png"><img
							class="ng-hide" ng-hide="service.stastic.appraiseAvg+0.5>=4"
							src="/static/images/icon/rate_empty.png"> <img
							class="ng-hide" ng-show="service.stastic.appraiseAvg+0.5>=5"
							src="/static/images/icon/rate_filled.png"><img
							class="ng-hide" ng-hide="service.stastic.appraiseAvg+0.5>=5"
							src="/static/images/icon/rate_empty.png">
					</div>
				</div>
			</div>
		</div>
		<div class="paging ng-hide" ng-show="pagingData">
			<uib-pagination total-items="pagingData.itemCount"
				ng-model="pagingData.pageIndex" max-size="10"
				items-per-page="pagingData.pageSize" class="pagination-sm"
				boundary-links="true" ng-change="searchServices(false)"
				first-text='#label("FIRST_PAGE")' last-text='#label("LAST_PAGE")'
				previous-text='#label("PREVIOUS_PAGE")'
				next-text='#label("NEXT_PAGE")'></uib-pagination>
		</div>
	</div>

</div>

<script src="/static/js/business/service/search.js"></script>