<link rel="stylesheet" href="/static/css/business/admin/navigation.css"></link>

<div class="subNavBar navBar">
	<ul>
		<li><a href="/admin/news"><div
					class="navBarItem #if($currentPage=='NEWS')selected #end">
					<span>#button("ADMIN_NEWS")</span>
				</div></a></li>
		<li><a href="javascript:void(0)">
				<div class="navBarItem #if($currentPage=='SERVICE')selected #end"
					ng-mouseenter="showService=true" ng-mouseleave="showService=false">
					<span>#button("ADMIN_SERVICE")</span>
				</div>
		</a></li>
		<li><a href="/admin/supplier"><div
					class="navBarItem #if($currentPage=='SUPPLIER')selected #end">
					<span>#button("ADMIN_SUPPLIER")</span>
				</div></a></li>
		<li><a href="/admin/receiver"><div
					class="navBarItem #if($currentPage=='RECEIVER')selected #end">
					<span>#button("ADMIN_RECEIVER")</span>
				</div></a></li>
		<li><a href="/admin/training"><div
					class="navBarItem #if($currentPage=='TRAINING')selected #end">
					<span>#button("ADMIN_TRAINING")</span>
				</div></a></li>
		<li><a href="/admin/permission"><div
					class="navBarItem #if($currentPage=='PERMISSION')selected #end">
					<span>#button("ADMIN_PERMISSION")</span>
				</div></a></li>
		<li><a href="/admin/role"><div
					class="navBarItem #if($currentPage=='ROLE')selected #end">
					<span>#button("ADMIN_ROLE")</span>
				</div></a></li>

	</ul>
	<ul class="popList servicePopList ng-hide"
		ng-mouseenter="showService=true" ng-mouseleave="showService=false"
		ng-show="showService">
		<li><a href="/admin/service/category"><div>
					<span>#button("SERVICER_SERVICE_CATEGORY")</span>
				</div></a></li>
		<li><a href="/admin/service/order"><div>
					<span>#button("SERVICER_SERVICE_ORDER")</span>
				</div></a></li>
		<li><a href="/admin/service/appraise"><div>
					<span>#button("SERVICER_SERVICE_APPRAISE")</span>
				</div></a></li>
	</ul>
</div>


<script src="/static/js/business/admin/navigation.js"></script>