#parse("/velocity/admin/navigation.vm")

<link rel="stylesheet" href="/static/css/business/admin/permission.css"></link>

<div class="permission">
	<div class="title">#label("PERMISSION_MANAGEMENT")</div>
	<div class="filter">
		<span>#label("USER_ID")<input style="width: 80px;"
			ng-model="filterData.id" /></span> <span>#label("USER_NAME")<input
			style="width: 80px;" ng-model="filterData.username" /></span>
		<button ng-click="searchUsers()">#button("SEARCH")</button>
	</div>
	<table>
		<thead>
			<tr>
				<td align="center"><span>#label("USER_ID")</span></td>
				<td align="center"><span>#label("USER_NAME")</span></td>
				<td align="center"><span>#label("LAST_ACCESS_TIME")</span></td>
				<td align="center"><span>#label("OPERATION")</span></td>
			</tr>
		</thead>
		<tbody>
			<tr class="ng-hide" ng-show="user" ng-repeat="user in users">
				<td align="center"><span>{{user.id}}</span></td>
				<td align="center"><span>{{user.username}}</span></td>
				<td align="center"><span>{{user.lastAccessDate | date:
						'yyyy/MM/dd HH:mm:ss'}}</span></td>
				<td align="center"><button
						ng-click="$parent.assignPermission(user)">#button("ASSIGN_PERMISSION")</button></td>
			</tr>
		</tbody>
	</table>
	<div class="paging" style="text-align: center;">
		<pagination total-items="pagingData.itemCount"
			ng-model="pagingData.pageIndex" max-size="10"
			items-per-page="pagingData.pageSize" class="pagination-sm"
			boundary-links="true" ng-change="searchUsers()"
			first-text='#label("FIRST_PAGE")' last-text='#label("LAST_PAGE")'
			previous-text='#label("PREVIOUS_PAGE")'
			next-text='#label("NEXT_PAGE")'></pagination>
	</div>
</div>

<script src="/static/js/business/admin/permission.js"></script>