#parse("/velocity/admin/navigation.vm")

<link rel="stylesheet" href="/static/css/business/admin/receiver.css"></link>

<div class="receiver">
	<div style="padding: 15px 15px 0 15px; height: 78px;" class="block headerBlock">
		<span style="color: #ff861a; font-size: 22px; margin-right: 60px; line-height: 50px;">#label("RECEIVER_MANAGEMENT")</span>
	</div>
	<div class="tab" style="border: 1px solid #ffedde; margin: 0 15px;"></div>

	<div class="block" style="background: #f1f1f1; padding: 15px;">
		<div class="details">
			<div class="tab" style="overflow: hidden; background: #ffedde; margin-bottom: 0; height: 45px;">
				<div class="tabTitle"></div>
			</div>
			<div class="tab" style="margin-top: 0;">
				<div class="tabTitle" style="text-align: center;">
					<span>#label("USER_ID")</span> <input ng-model="filterData.id" /> <span>#label("USER_NAME")</span> <input
						ng-model="filterData.username" />
					<button ng-click="searchUsers()">#button("SEARCH")</button>
				</div>
			</div>
			<div class="tab">
				<div class="tabContent">
					<table>
						<thead>
							<tr>
								<td align="center"><span>#label("USER_ID")</span></td>
								<td align="center"><span>#label("USER_NAME")</span></td>
								<td align="center"><span>#label("LAST_ACCESS_TIME")</span></td>
								<td align="center"><span>#label("OPERATION")</span></td>
							</tr>
						</thead>
						<tbody>
							<tr class="ng-hide" ng-show="user" ng-repeat="user in users">
								<td align="center"><span>{{user.id}}</span></td>
								<td align="center"><span>{{user.username}}</span></td>
								<td align="center"><span>{{user.lastAccessDate | date: 'yyyy/MM/dd HH:mm:ss'}}</span></td>
								<td align="center"><a href="javascript:void(0)" ng-click="$parent.assignPermission(user)"><span>#button("ASSIGN_PERMISSION")</span></a></td>
							</tr>
						</tbody>
					</table>
					<div class="paging" style="text-align: center;">
						<pagination total-items="pagingData.itemCount" ng-model="pagingData.pageIndex" max-size="10" items-per-page="pagingData.pageSize"
							class="pagination-sm" boundary-links="true" ng-change="searchUsers()" first-text='#label("FIRST_PAGE")'
							last-text='#label("LAST_PAGE")' previous-text='#label("PREVIOUS_PAGE")' next-text='#label("NEXT_PAGE")'></pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/static/js/business/admin/receiver.js"></script>