#parse("/velocity/admin/navigation.vm")

<link rel="stylesheet" href="/static/css/business/admin/training.css"></link>

<div class="training">training</div>

<script src="/static/js/business/admin/training.js"></script>