html {
	font-family: "Microsoft YaHei" ! important;
}

a, a span {
	color: #fd6a15;
}

body {
	margin: 0px;
}

button {
	min-height: 30px;
	min-width: 80px;
	border-radius: 5px;
	background: #fd6a15;
	color: #ffffff;
	border: none;
}

div.content {
	min-height: 600px;
}

div.content table th {
	border-bottom: 1px solid gray;
}

div.content textarea {
	resize: none;
	height: 200px;
	width: 400px;
}

div.navBar {
	margin: 0 auto;
	text-align: center;
	width: 1200px;
}

div.navBar div.navBarItems ul {
	display: inline-block;
	background: #fd6a15;
	color: #ffffff;
	height: 45px;
	padding: 0;
	width: 1200px;
}

div.navBar a {
	text-decoration: none;
}

div.navBar li.navBarItem {
	list-style-type: none;
	float: left;
}

div.navBar li div {
	width: 150px;
	height: 45px;
}

div.navBar li span {
	color: #ffffff;
	line-height: 45px;
	font-size: 18px;
}

div.navBar li.navBarItem {
	width: auto;
	height: 45px;
	display: inline-block;
}

div.navBar ul.popList {
	position: absolute;
	padding: 0px;
	z-index: 99;
	background: #fd6a15;
}

div.navBar ul.popList li {
	list-style-type: none;
	margin-top: 7px;
}

div.navBar div.selected {
	border-bottom: 1px blue solid;
}

div.subNavBar {
	float: left;
	width: 175px;
}

div.subNavBar ul {
	padding-left: 0px;
	width: 175px;
	border: solid 1px #333333;
}

div.subNavBar li {
	list-style-type: none;
	margin: 10px 0;
}

div.subNavBar li div.navBarItem {
	
}

div.subNavBar li div span {
	color: #333333;
}

div.errorBar {
	width: 100%;
	text-align: center;
	margin: 5px 0;
	padding: 3px 0;
	margin-bottom: 5px;
	background: #d0d0d0;
}

div.error {
	position: absolute;
}

div.error span {
	font-size: 14px;
	color: red;
}