div.subNavBar {
}

div.navBar ul.servicePopList {
	position: absolute;
	top: 65px;
	left: 110px;
	width: 120px;
}

div.navBar ul.servicePopList li {
	margin-left: 10px;
}

div.navBar ul.servicePopList li div {
	background-color: white;
	border: solid 1px;
}

div.navBar ul.servicePopList li div span {
	line-height: 25px;
	color: black;
}

div.subNavBar img {
	margin-bottom: 5px;
}

div.subNavBar img.selected {
	display: none;
}

div.subNavBar img.unselected {
	display: inline-block;
}

div.subNavBar div.selected img.selected {
	display: inline-block;
}

div.subNavBar div.selected img.unselected {
	display: none;
}