#parse("/velocity/admin/navigation.vm")

<link rel="stylesheet"
	href="/static/css/business/admin/manage/answer/answers.css"></link>

<div class="answers">
	<div style="padding: 15px 15px 0 15px; height: 78px;"
		class="block headerBlock">
		<span
			style="color: #ff861a; font-size: 22px; margin-right: 60px; line-height: 50px;">#label("GENERAL_QUESTIONS")</span>
	</div>
	<div class="tab" style="border: 1px solid #ffedde; margin: 0 15px;"></div>

	<div class="block" style="background: #f1f1f1; padding: 15px;">
		<div class="details">
			<div class="tab"
				style="overflow: hidden; background: #ffedde; margin-bottom: 0; height: 45px;">
				<div class="tabTitle"></div>
			</div>
			<div class="tab" style="margin-top: 0;">
				<div class="tabTitle" style="text-align: center;">
					<span>#label("QUESTION_CONTENT")</span><input
						style="margin-right: 20px;" ng-model="filterData.questionContent" />
					<button ng-click="searchQas()">#button("SEARCH")</button>
					<button ng-click="newQa()">#button("NEW_QUESTION")</button>
				</div>
			</div>
			<div class="tab">
				<div class="tabContent">
					<table>
						<thead>
							<tr>
								<td align="center"><span>#label("INDEX")</span></td>
								<td align="center"><span>#label("QUESTION_CONTENT")</span></td>
								<td align="center"><span>#label("STATUS")</span></td>
								<td align="center" style="width: 200px;"><span>#label("OPERATION")</span></td>
							</tr>
						</thead>
						<tbody class="ng-hide" ng-show="qas">
							<tr ng-repeat="qa in qas">
								<td align="center"><span>{{$index + 1}}</span></td>
								<td align="center"><span>{{qa.question}}</span></td>
								<td align="center"><span>{{qa.status.message}}</span></td>
								<td align="center"><a href="javascript:void(0)"
									ng-click="showQa(qa, false)" ng-show="qa.status.code=='A'">#button("HIDE")</a>
									<a href="javascript:void(0)" ng-click="showQa(qa, true)"
									ng-show="qa.status.code=='D'">#button("SHOW")</a> <a
									ng-href="/admin/manage/answer/{{qa.id}}">#button("EDIT")</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/static/js/business/admin/manage/answer/answers.js"></script>