 #parse("/velocity/help/navigation.vm")

<link rel="stylesheet" href="/static/css/business/help/about.css"></link>

<div class="about">
	<div class="block">
		<span style="font-size: 22px; color: #fd6a15;">#label("ABOUT_US")</span>
	</div>
	<div class="block" style="text-align: center;">
		<div style="margin-top: 20px; padding: 0 10px; text-align: left;">
			<span ng-bind-html="content"></span>
		</div>
	</div>
</div>

<script src="/static/js/business/help/about.js"></script>