#parse("/velocity/help/navigation.vm")

<link rel="stylesheet" href="/static/css/business/help/answer.css"></link>

<div class="answer">
	<div class="block">
		<span style="font-size: 22px; color: #fd6a15;">#label("COMMON_PROBLEMS")</span>
	</div>
	<div class="block ng-hide" ng-show="qas">
		<div ng-repeat="qa in qas" style="border-bottom: 1px dotted #cccccc; padding: 10px;">
			<div style="margin: 0 0 10px 0">
				<span class="question">#label("PROBLEM"){{$index+1}} : {{qa.question}}</span>
			</div>
			<div>
				<span class="answer" ng-bind-html="qa.answer"/>
			</div>
		</div>
	</div>
</div>

<script src="/static/js/business/help/answer.js"></script>